$space: 20px

.container
    margin: 0 auto

.layout 
    margin-bottom: $space*2
    display: flex
    > div
        flex: 2
        &:first-child
            flex: 1
            margin-right: $space*2
.control
    margin: $space 0px

.dep-list
    margin: $space 0px
    padding-left: 0px
    list-style-type: none 
    li
        padding: $space/2 0px
        > div 
            vertical-align: middle
            display: inline-block
        &:after 
            clear: both
            content: ''
            display: block

.case-list
    padding: 0px 
    margin: $space 0px
    &:after
        clear: both
        content: ''
        display: block
    li
        display: block 
        margin: $space 0px

.form-horizontal
    margin: $space 0px

.form-inline 
    .form-group
        &:not(:last-child)
            margin-right: $space
.form-new 
    background-color: #eee
    @extend .well
    &:after
        clear: both
        content: ''
        display: block

.checkbox
    input
        margin-right: $space/3
    span 
        font-weight: bold

.form-horizontal
    .form-group
        .control-label 
            @extend .col-sm-12
            @extend .col-md-2
        > div
            @extend .col-sm-12
            @extend .col-md-10

.js-editor
    width: 100% !important
    max-width: 100%
    max-height: 200px