
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>jsop.io</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="assets/scripts/jsop.bundle.min.js"></script>
</head>
<body>
  <button id="run">Run Benchmark</button>
  <button id="clear">Clear Benchmark</button>
  <button id="save">Save Benchmark</button>
  <p>
    <label>Load Benchmark: <input name="benchspecid" placeholder="example" /></label>
    <button id="load">Load</button>
  </p>
  <pre><code></code></pre>
  <hr />
  <div id="edit"></div>

  <script id="bspecform" type="text/template">
    <ul>
      <li><label>Title: <input class="attr" name="title" value="<%- title %>"/></label></li>
      <li><label>Description: <textarea class="attr" name="description_md"><%- description_md %></textarea></label></li>
      <li>
        <strong>Libaries:</strong>
        <ul class="dep-list"><% _.each(benchmark.dependencies, function(dep, idx){ %>
          <li>
            <%- dep.name %>(<%- dep.version %>)
            [<a href="<%= dep.src %>">src</a>]
            ==> <strong>var <%- dep.var %></strong>
            <button data-idx="<%- idx %>" class="rmv-dep">-</button>
          </li>
        <% }) %></ul>
      </li>
      <li><fieldset><ul>
        <li><legend>Add Library</legend></li>
        <li><label>Name: <input name="dep-name" /></label></li>
        <li><label>Version: <input name="dep-version" /></label></li>
        <li><label>URL: <input name="dep-src" /></label></li>
        <li><label>Var: <input name="dep-var" /></label></li>
        <li><button class="add-dep">+</button></li>
      </ul></fieldset></li>
      <li><label>HTML: <textarea class="attr" name="html_code"><%- benchmark.html_code %></textarea></label></li>
      <li><label>JS Setup: <textarea class="attr" name="js_setup"><%- benchmark.js_setup %></textarea></label></li>
      <li><label>JS Teardown: <textarea class="attr" name="js_teardown"><%- benchmark.js_teardown %></textarea></label></li>
      <li>
        <strong>Test Cases:</strong>
        <ul class="case-list"><% _.each(benchmark.cases, function(c, idx){ %>
          <li>
            <p><strong><%- c.label %></strong>: <%- c.note_md %></p>
            <pre><%- c.js_code %></pre>
            <span><%= c.is_async ? "async":"" %>,
              <%= c.is_default ? "default":"" %>,
              <%= c.is_archived ? "archived":"" %>
            </span>
            <button data-idx="<%- idx %>" class="rmv-case">-</button>
          </li>
        <% }) %></ul>
      </li>
      <li><fieldset><ul>
        <li><legend>Add Test Case</legend></li>
        <li><label>Label: <input name="case-label" /></label></li>
        <li><label>Notes: <input name="case-note_md" /></label></li>
        <li><label>JS: <textarea name="case-js_code"></textarea></label></li>
        <li><label>Is Async: <input type="checkbox" name="case-is_async" /></label></li>
        <li><label>Is Default: <input type="checkbox" name="case-is_default" /></label></li>
        <li><label>Is Archived<input type="checkbox" name="case-is_archived" /></label></li>
        <li><button class="add-case">+</button></li>
      </ul></fieldset></li>
    </ul>
  </script>
  <script src="bundle.js"></script>
</body>
</html>
