<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>jsop.io</title>

  <link href="styles.css" rel="stylesheet"/>

  <script src="//cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="assets/scripts/jsop.bundle.min.js"></script>
</head>
<body>

  <div class="container">
  <div class="layout">
  <div>
    <header>
      <h1>Benchspec</h1>
      <div class="control">
        <div class="btn-group">
          <button id="run" class="btn btn-primary">Run</button>
          <button id="clear" class="btn btn-default">Clear</button>
          <button id="save" class="btn btn-default">Save</button>
        </div>
      </div>

      <div class="control">
        <div>
          <fieldset class="form-group">
            <label class="control-label">Load Benchmark:</label>
            <input class="form-control" name="benchspecid" placeholder="example" />
          </fieldset>
          <fieldset class="form-group">
            <button id="load" class="btn btn-default">Load</button>
          </fieldset>
        </div>
      </div>
      <pre><code></code></pre>
    </header>
    <hr />
  </div>

  <div>
    <h2>Edit</h2>
    <div id="edit"></div>
  </div>

    <!-- Form template -->
    <script id="bspecform" type="text/template">
    
    <!-- Title and description -->
    <section>
      <div class="form-horizontal">
      <fieldset class="form-group">
        <label class="control-label">Title:</label>
        <div>
          <input class="attr form-control" name="title" value="<%- title %>"/>
        </div>
        </fieldset>

      <fieldset class="form-group">
        <label class="control-label">Description:</label>
        <div>
          <textarea class="attr form-control" name="description_md"><%- description_md %></textarea>
        </div>
      </fieldset>
    </div>
    </section>

      <hr/>

      <!-- Libraries -->
    <section>
      <h3>Libaries</h3>
      <fieldset>
        <ul class="dep-list">
          <% _.each(benchmark.dependencies, function(dep, idx){ %>
          <li class="dep">
            <%- dep.name %>
            (
            <%- dep.version %>
            )
            [
            <a href="<%= dep.src %>">src</a>
            ] ==> <strong>var
              <%- dep.var %></strong>
            <button data-idx="<%- idx %>" class="rmv-dep btn btn-danger pull-right">-</button>
          </li>
          <% }) %></ul>
      </fieldset>

      <h4>Add Library</h4>
      <div class="form-horizontal">
        <fieldset class="form-group">
          <label class="control-label ">Name:</label>
          <div>
            <input class="form-control" name="dep-name" />
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">Version:</label>
          <div>
            <input class="form-control" name="dep-version" />
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">URL:</label>
          <div>
            <input class="form-control" name="dep-src" />
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">Var:</label>
          <div>
            <input class="form-control" name="dep-var" />
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="control-label">
          </div>
          <div>
            <button class="add-dep btn btn-primary pull-right">+</button>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">HTML:</label>
          <div>
            <textarea class="attr form-control" name="html_code"><%- benchmark.html_code %></textarea>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">JS Setup:</label>
          <div>
            <textarea class="attr form-control" name="js_setup"><%- benchmark.js_setup %></textarea>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">JS Teardown:</label>
          <div>
            <textarea class="attr form-control" name="js_teardown"><%- benchmark.js_teardown %></textarea>
          </div>
        </fieldset>
      </div>
    </section>
    <hr/>
    <!-- Test Cases -->
    <section>
      <h3>Test Cases</h3>
      <ul class="case-list">
        <% _.each(benchmark.cases, function(c, idx){ %>
        <li class="case"> <strong><%- c.label %></strong>
          :
          <%- c.note_md %>
          <pre><%- c.js_code %></pre>
          <div>
            <%= c.is_async ? "async":"" %>
            ,
            <%= c.is_default ? "default":"" %>
            ,
            <%= c.is_archived ? "archived":"" %>
            <button data-idx="<%- idx %>" class="rmv-case btn btn-danger pull-right">-</button>
          </div>
        </li>
        <% }) %></ul>

      <h4>Add Test Case</h4>
      <div class="form-horizontal">
        <fieldset class="form-group">
          <label class="control-label ">Label:</label>
          <div>
          <input class="form-control" name="case-label" />
        </div>
        </fieldset>
        <fieldset class="form-group ">
          <label class="control-label ">Notes:</label>
          <div>
          <input class="form-control" name="case-note_md" />
        </div>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label ">JS:</label>
          <div>
            <textarea class="form-control" name="case-js_code"></textarea>
          </div>
        </fieldset>
      </div>

      <div class="form-inline pull-right">
        <fieldset class="form-group">
          <input class="form-control" type="checkbox" name="case-is_async" />
          <label class="control-label">async</label>
        </fieldset>
        <fieldset class="form-group">
          <input class="form-control" type="checkbox" name="case-is_default" />
          <label class="control-label">default</label>
        </fieldset>
        <fieldset class="form-group">
          <input class="form-control" type="checkbox" name="case-is_archived" />
          <label class="control-label">archived</label>
        </fieldset>
        <fieldset class="form-group ">
          <button class="add-case btn btn-primary">+</button>
        </fieldset>
      </div>
  </section>

  </script>
  <footer></footer>
  <script src="bundle.js"></script>
</body>
  </html>